{{> header }}







<div class="card-panel black-text row s12" style="  padding-bottom: 150px;box-shadow: 0px 0px 0px 0px rgba(0,0,0,0); background-image: url(https://img.freepik.com/free-vector/seamless-pattern_1159-5086.jpg?size=626&ext=jpg);">
    <div class="container">
        <h1>Hello, <text class="red-text">{{data.name}}</text></h1>

    </div>

</div>

<div class="content" >








<h3 class="center grey-text">FEED</h3>
    <div class="right">
        <a href="/create"class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
    </div>






{{#each data.created}}


    <div class="card">
        <div class="card-content">

<div class="card-info">
{{this.created_at}}
</div>
        <h1 class="center">
    {{this.heading}}
        </h1>
            <div class="invite-content center">
    {{this.content}}
            </div>
<div class="card-foot">
    {{this.footer}}
</div>


        </div>
</div>
{{/each}}


    <hr>
    <hr>
    <hr>

{{#each data.accepted}}



    <div class="card">
        <div class="card-content">

            <div class="card-info">
                {{this.created_at}}
            </div>
            <h1 class="center">
                {{this.heading}}
            </h1>
            <div class="invite-content" class="center">
                {{this.content}}
            </div>
            <div class="card-foot">
<!--                <footer>-->
                {{this.footer}}
<!--                </footer>-->
            </div>


        </div>
    </div>


















{{/each}}

</div>



{{> footer-end }}