{{> header }}







<div class="card-panel black-text row s12" style=" width:93.5%; padding-bottom: 150px;box-shadow: 0px 0px 0px 0px rgba(0,0,0,0); background-image: url(https://img.freepik.com/free-vector/seamless-pattern_1159-5086.jpg?size=626&ext=jpg);">
    <div class="container">
        <h1>Hello, <text class="red-text">{{data.name}}</text></h1>

    </div>

</div>





<div class=" avail">
    <div class="card-info">
        <h3>Available Events</h3>
    </div>
    <ul>
{{#each data.available}}
    <li><a href="/invite/{{this.link}}" >{{this.heading}}  </a>  ...</li>


{{/each}}
    </ul>



</div>


<div class="content" >


    <br>
    <br>
    <br>


    <div class="right">
        <button onclick="window.location.href='/create'" class="">Create New Invite</button>
    </div>
{{#if data.created}}
<h3 class="center" style="font-size: 5em;">Invites Created</h3>





{{#each data.created}}


    <div class="card">
        <div class="card-content">

<div class="card-info">
    <h2><u>ACCEPTED BY: </u>{{this.count}}</h2>
    <small style="position: absolute;right: 0px;">
    <strong>CREATED AT:&nbsp </strong>{{this.created_at}}</small>
    <br>
</div>
        <h1 class="center">
            <br>
            <br>
            {{{this.heading}}}
        </h1>
            <div class="invite-content center">
                {{{this.content}}}
            </div>
<div class="card-foot center">
    {{{this.footer}}}
</div>


        </div>
</div>
{{/each}}







    <hr>
        {{/if}}

    {{#if data.accepted}}

    <h3 class="center" style="font-size: 5em;">Invites Accepted</h3>



{{#each data.accepted}}



    <div class="card accepted">
        <div class="card-content">

            <div class="card-info">
                <h2>HOSTED BY:            <u>    {{this.name}}</u>
                </h2>
                <small style="position: absolute;right: 0px;">
                    <strong>EVENT AT:&nbsp </strong>{{this.event_at}}</small>
                <br>
            </div>
            <h1 class="center">
                <br>
                <br>
                {{{this.heading}}}
            </h1>
            <div class="invite-content center">
                {{{this.content}}}
            </div>
            <div class="card-foot center">
<!--                <footer>-->
                {{{this.footer}}}
<!--                </footer>-->
            </div>


        </div>
    </div>


















{{/each}}
    {{/if}}








</div>



{{> footer-end }}