{{> header }}



{{invite.author_id}}
{{invite.created_at}}
{{invite.heading}}
{{invite.content}}
{{invite.footer}}



<a href=/accept/{{invite.invite_id}}>Accept</a>
<a href=/reject/{{invite.invite_id}}>Reject</a>






{{> footer-end }}